<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask App</title>
    <!-- <link rel="stylesheet" href='/static/style.css' /> -->
    <style>
      body { background-image: url("https://ksassets.timeincuk.net/wp/uploads/sites/54/2017/10/Ive-920x470.jpg"); }
      .standard {width: 500px; font-size: 25px;}
      .output { color: gray; font-size: 25px; width: 400px;}
      .output:hover { color: black; cursor: help;}
    </style>
  </head>
  <body>
    <br>
    <blockquote class="standard"> "As designers you live in the future. It's not that we are not interested in the work we've done before, it's just we are so consumed by what we haven't done yet."</blockquote>
    <br><br><br>
    <blockquote class="output">" {{text}}"</blockquote>

  </body>
</html>
